<%= erb :tags, :locals => {:header => "Выпитое пиво по странам:", :object => @countries, :type => "countries"} %>
<div class="clear"></div>
<%= erb :tags, :locals => {:header => "Выпитое пиво по производителям:", :object => @breweries, :type => "breweries"} %>