<%= erb :tags, :locals => {:header => "Beer by countries", :object => @countries, :type => "countries"} %>
<div class="clear"></div>
<%= erb :tags, :locals => {:header => "Beer by manufacturers", :object => @breweries, :type => "breweries"} %>