<h2><%= header %></h2>
<ul id="<%= type %>">
  <% object.each do |element| %>
    <li>
  		<a href="#" class="tag">
				<span class="tag_name"><%= element[:name] %></span>
				<span class="tag_count"><%= element[:count] %></span>
			</a>
		</li>
  <% end %>
</ul>